
@import url("components/form.css");

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  background-color: rgb(255, 227, 232);
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  color: rgb(255, 136, 156);
}
